<p style="color: green"><%= notice %></p>

<%= render @predmet %>

<div>
  <%= link_to "Edit this predmet", edit_predmet_path(@predmet) %> |
  <%= link_to "Back to predmets", predmets_path %>

  <%= button_to "Destroy this predmet", @predmet, method: :delete %>
</div>
